<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Custon and Bootstrap Config -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/master.css" type="text/css" >
    <link rel="stylesheet" href="../static/css/mdb.css">
    <style>
        .card {
			width: 450px;
			margin-top: 50px
			text-align: center;
			margin-left: 50%;
			margin-right: 50%;
			position: fixed;
        }
        .jumbotron {
            margin-top: 8px;
			width: 440px;
			height: 230px;
			text-align: center;
			margin-left: 20px;
            margin-top: 20px;
			margin-right: auto;
			padding:5px
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		.search {
		      background: url('../static/img/zoom-out.png') left center no-repeat;
              padding-left: 15px;
		}
		.dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}

        .menu{
            float: left;
            width: 70px;
            height: 10px;
		    padding:0px;
            margin-top: 150px;
            margin-left: 0px;


		}.menu2{
            float: right;
            width: 65px;
            height: 10px;
		    padding:10px;
            margin-top: -120px;
            margin-left: 100px;

		}.list-group {
		    width: 170px;
            height: 80px;
		    padding: 0px;

		}.list-group-item {
		    width: 190px;
            height: 95px;
		    padding: 2px;

		}.outros {
			margin-top: 0px;
            margin-left: 15px;
		    width: 190px;
            height: 95px;
            position: fixed;

		}img {
            vertical-align: bottom;
        }.container {
            margin-left: -0px;
            margin-top: -40px;
            width:250px;
            padding:0px;
            }
        .photo {
        width:60px;
        height: 50px;
        font-size:110%;
        text-align:center;
        vertical-align:top;
        display:inline-block;

        }

        @media screen and (min-width: 160px) {
        .container{width:160px;}
        }
        @media screen and (min-width: 240px) {
        .container{width:400px;}
        }
        @media screen and (min-width: 640px) {
        .container{width:400px;}
        }body {
          background: url(../static/img/bg2.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }html{
            width: 440px;
            height: 255px;
         }
    </style>
    <!-- Java Script -->
    <script src="../static/angular.js"></script>
    <script src="../static/js/Respond.js"></script>
    <!-- Java Script Respond -->
    {% extends "layout.html" %}
    {% block body %}
    <script type="text/javascript">
        $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/language?a=PT', {
          }, function(data) {
            $('#result').text(data.result);
          });
          return false;
        };
          $("#pt").click(function(e){

            submit_form(e);
            window.location.replace("/language");
       });
      });
      $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/language?a=EN', {
          }, function(data) {
            $('#result').text(data.result);
          });
          return false;
        };
          $("#en").click(function(e){

            submit_form(e);
            window.location.replace("/language");
       });
      });

    </script>
    <!-- Title -->
    <title>Chip Welcome</title>
</head>
    <body>

                <div class="jumbotron ">


                    <center><h2 style="margin-top: 0px" color="#FFFFFF" class="animated fadeIn"><p>{{language}}</p></h2></center>
                    <div  class="container">

                        <div class="photo">
                            <a id="pt"><img class="animated fadeIn" src="../static/img/botao-brazil.png" height="80" width="80"><figcaption>{{portugues}}</figcaption></a>
                        </div>
                        <div class="photo">
                            <a id="en"><img class="animated fadeIn" src="../static/img/botao-usa.png" height="80" width="80"><figcaption>{{ingles}}</figcaption></a>
                        </div>
                        <div class="photo">
                            <a id="es"><img class="animated fadeIn" src="../static/img/botao-spain.png" height="80" width="80"><figcaption>{{espanhol}}</figcaption></a>
                        </div>
                        <div class="photo">
                            <a id="fr"><img class="animated fadeIn" src="../static/img/botao-france.png" height="80" width="80"><figcaption>{{frances}}</figcaption></a>
                        </div>
                        <div class="photo">
                            <a id="al"><img class="animated fadeIn" src="../static/img/botao-germany.png" height="80" width="80"><figcaption>{{alemao}}</figcaption></a>
                        </div>
                        <div class="photo">
                            <a id="it"><img class="animated fadeIn" src="../static/img/botao-italian.png" height="80" width="80"><figcaption>{{italiano}}</figcaption></a>
                        </div>


                    </div>

                    <div class="menu2">

                        <center><a href="connection"><img src="../static/img/next-g.png" width="45" height="45"/></a></center>

                    </div>

            </div>
        <!-- {% endblock %}-->

        <!--  -->
        <footer>

        </footer>

    <script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
    </body>
</html>


