<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css Custon and Bootstrap Config-->
    <link rel="stylesheet" href="../../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/master.css" type="text/css" >
    <link rel="stylesheet" href="../static/css/mdb.css">
    <style>
        .jumbotron {
            margin-top: 8px;
			width: 440px;
			height: 230px;
			text-align: center;
			margin-left: 20px;
            margin-top: 20px;
			margin-right: auto;
			padding:5px
		}.menu{
            float: left;
            width: 40px;
            height: 0px;
		        padding:0px;
            margin-top: -20px;

		}.amostra{
		        margin-left: 170px;
		        padding:0px;
		        border:0px;
		}.menu2{
            float: left;
            width: 150px;
            height: 20px;
            margin-right: 8px;

		}body {
          background: url(../static/img/bg2.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }html{
            width: 440px;
            height: 255px;
                                                     }
    </style>
    {% extends "layout.html" %}
    {% block body %}
    <script type="text/javascript">

    function run() {
    umidade()
      function umidade() {
        $('#content')
          .load('/umidade', function(response, status, xhr) {
            response.async = false;
            if (response == 1) {
              $("#content").text("{{ copoVazio }}");
                $('#contentss').hide().ajaxStart( function() {
                $(this).hide();
                });
              setTimeout(function() {
                $("#content").text("{{ insiraAmortra }}");
                umidade()
              }, 2000);
            } else if (response == 2) {
              $("#content").text("{{copoCheio}}");
                $('#contentss').hide().ajaxStart( function() {
                $(this).hide();
                });
              setTimeout(function() {
                $("#content").text("{{retireAmostra}}");
                umidade()
              }, 2000);
            } else if (response == 3) {
              $("#content").text("{{amostraReconhecida}}");
                window.location.replace("/result");
            } else if (response == 4) {
              $("#content").text("{{erroCopo}}");
              $('#contentss').hide().ajaxStart( function() {
              $(this).hide();
              });
              setTimeout(function() {
                $("#content").text("{{erroCopo2}}");

                umidade()
              }, 2000);
            }else if (response == 5) {
              $("#content").text("{{erroAutotest}}");
              setTimeout(function() {
                $("#content").text("{{erroAutotest2}}");
                $("#contentss").show();

              }, 2000);
            }
        });
      }
    }
    $(document)
      .ready(function() {
        $('#contentss').hide().ajaxStart( function() {
        $(this).hide();
        });
        run();
      });
    $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/medir', {
          }, function(data) {
            $('#result').text(data.result);
          });
          return false;
        };
          $("#buttonInit").click(function(e){
            submit_form(e);
       });
      });
    </script>
    <!-- Title -->
    <title>Chip Welcome</title>
</head>
    <body onselectstart='return false' ondragstart='return false'>

            <div class="jumbotron ">

                <div class="menu">
                 <p>
                <br>
                <center><a href="/selectcurvatop?a=0"><button class="btn btn-dark-green active"><img src="../static/img/medir.png" width="35" height="35"/></button></a></center>
                <center><a href="/top">             <button class="btn btn-dark-green"><img src="../static/img/search.png" width="35" height="35"/></button></a></center>
                <center><a href="/config">            <button class="btn btn-dark-green"><img src="../static/img/config.png" width="35" height="35"/></button></a></center>
                <span id="result"></span>

            </div>
            <div class="card-block amostra">
            <center><h3 style="margin-left: -15px; margin-top: -15px" color="#FFFFFF" class="animated fadeIn"><p>{{ bemvindo }}, {{user}}</p></h3></center>
            <p>
            <div style="margin-left: -150px; margin-top: -10px" class="menu2">
            <center><img style="margin-top: 20px; margin-left: 80px" src="../static/img/botao-grao-{{tipo}}.png" width="90" height="90" class="img-fluid" alt=""></center>
            </div>
            <div style="margin-left: 0px; width: 250px; margin-top: -40px" class="amostra">
            <center>
                <br>
                <br>
                <!--Title-->
                <h6 class="card-title">{{ nome }}</h6>
                <p class="card-text">{{ temp }}</p>
                <p class="card-text">{{ umidade }}</p><br>

            </center>
            </div>
              <center>

             <h3><div style="margin-top: -50px" id="content">

            </div></h3>
             <h3><div style="margin-top: -25px" id="contentss">
             <a href="/selectcurvatop?a=0"><button class="btn btn-dark-green animated fadeIn" id="buttonInit"><img src="../static/img/autoteste.png" width="20" height="20"/></button></a>

            </div></h3></center>
            </div>
            </div>
        <!-- {% endblock %}-->

        <!--  -->
        <footer>

        </footer>

    <script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
    </body>
</html>


