<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Custon and Bootstrap Config -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/master.css" type="text/css" >
    <link rel="stylesheet" href="../static/css/mdb.css">
    <style>
        .card {
			width: 450px;
			text-align: center;
			margin-left: 50%;
			margin-right: 50%;
			position: fixed;
        }
        .jumbotron {
            margin-top: 8px;
			width: 440px;
			height: 230px;
			text-align: center;
			margin-left: 20px;
            margin-top: 20px;
			margin-right: auto;
			padding:5px
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		.search {
		      background: url('../static/img/zoom-out.png') left center no-repeat;
              padding-left: 15px;
		}
		.dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}

        .menu{
            float: left;
            width: 40px;
            height: 0px;
		        padding:0px;
            margin-top: -20px;

		}.amostra{
		    margin-top: -35px;

            margin-left: 125px;
            padding:0px;
            border:0px;
		}.menu2{
            float: left;
            margin-top: 10px;
            margin-left: -40px;
            padding:0px;
            border:0px;

		}.list-group {
		    width: 170px;
            height: 80px;
		    padding: 0px;

		}.list-group-item {
		    width: 190px;
            height: 95px;
		    padding: 2px;

		}.outros {
			margin-top: 0px;
            margin-left: 15px;
		    width: 190px;
            height: 95px;
            position: fixed;

		}body {
          background: url(../static/img/bg2.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    <!-- Java Script -->
    <script src="../static/angular.js"></script>
    <script src="../static/js/Respond.js"></script>
    <!-- Java Script Respond -->
    {% extends "layout.html" %}
    {% block body %}
       <script type="text/javascript">


       function run() {
        umidade()
          function umidade() {
            $.get('/umidade', function(response, status, xhr) {
                response.async = false;
                if (response == 2) {
                    umidade()
                } else if (response == 4) {
                    window.location.replace("/selectcurvatop?a=0");
                } else{
                  window.location.replace("/selectcurvatop?a=0");
                }
            });
          }
        }
        $(document)
          .ready(function() {
            var title = "{{ nome }}";
            var lenTitle = title.length;
            var font = 0;
            if (lenTitle<15) { var alt= document.getElementById("title");var alt3= document.getElementById("umidade");
                               var alt2= document.getElementById("ph");
                                    alt.style.fontSize ="25px";alt.style.marginTop ="0px";
                                    alt2.style.fontSize ="25px";}
            else if(lenTitle>15){ var alt= document.getElementById("title");
                                  var alt2= document.getElementById("ph");
                                    alt.style.fontSize ="20px";
                                    alt2.style.fontSize ="25px";}
            run();

          });
    </script>
    <!-- Title -->
    <title>Chip Welcome</title>
</head>
    <body>
        <div class="jumbotron">

                <div class="menu">
                 <p>
                <br>
                <center><a href="/selectcurvatop?a=0"><button class="btn btn-dark-green active"><img src="../static/img/medir.png" width="35" height="35"/></button></a></center>
                <center><a href="/top">             <button class="btn btn-dark-green"><img src="../static/img/search.png" width="35" height="35"/></button></a></center>
                <center><a href="/config">            <button class="btn btn-dark-green"><img src="../static/img/config.png" width="35" height="35"/></button></a></center>
                <span id="result"></span>

            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div style="margin-top: 10px" class="card-block amostra">
            <center><h3 color="#FFFFFF" class="animated fadeIn"><p>{{ resultado}}</p></h3></center>
              <div class="menu2">
                  <h5 id="title" style="margin-top: -30px;margin-left: 30px; padding: 10px">{{ nome }}</h5>
                <center><h5 id="umidade" style="margin-top: -15px; width: 100px; margin-left: -200px" class="card-title">Umidade %</h5>
                <p  style="font-size:40px; margin-top: -20px; width: 100px; margin-left: -200px" class="card-title">{{ umidade }}</p><br>

                </center>
                 <center><h5 style="margin-top: -107px; margin-left: 20px" class="card-title">Temperatura</h5>
                  <p style="font-size:40px; margin-top: -22px; margin-left: 15px" class="card-title">{{ temperatura }}{{unitemp}}°</p><br>

                </center>
                  <center><h5 style="margin-top: -107px; margin-left: 240px" class="card-title">PH</h5>
                  <p id="ph" style="width: 100px; margin-top: -10px;margin-left: 240px;" >{{ ph }}</p></center>
              </div>
            </div>
            <div class="menu">
                <center><a href="#"><button style="margin-left: 100px; margin-top: -20px;" class="btn btn-dark-green"><img src="../static/img/qr-code.png" width="35" height="35"/></button></a></center>
                <center><a href="#"><button style="margin-left: 210px; margin-top: -80px" class="btn btn-dark-green"><img src="../static/img/padlock.png" width="35" height="35"/></button></a></center>
                <center><a href="#"><button style="margin-left: 320px;margin-top: -128px" class="btn btn-dark-green"><img src="../static/img/dark-printer.png" width="35" height="35"/></button></a></center>
            </div>
            </div>
        <!-- {% endblock %}-->

        <!--  -->
        <footer>

        </footer>

    <script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
    </body>
</html>


