<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Custon and Bootstrap Config -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/master.css" type="text/css" >
    <link rel="stylesheet" href="../static/css/mdb.css">
    <style>
        .card {
			width: 450px;
			margin-top: 50px
			text-align: center;
			margin-left: 50%;
			margin-right: 50%;
			position: fixed;
        }
        .jumbotron {
            margin-top: 8px;
			width: 440px;
			height: 230px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			padding:5px
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		.search {
		      background: url('../static/img/zoom-out.png') left center no-repeat;
              padding-left: 15px;
		}
		.dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}

        .menu{
            float: left;
            width: 40px;
            height: 0px;
		        padding:0px;
            margin-top: -20px;

		}.menu2{
            float: left;
            margin-left: 100px;
            margin-top: -10px;
            width: 50px;
            height: 0px;
		        padding:0px;

		}.list-group {
		    width: 170px;
            height: 80px;
		    padding: 0px;

		}.list-group-item {
		    width: 160px;
            height: 95px;
		    padding: 2px;

		}.outros {
			margin-top: 0px;
            margin-left: 15px;
		    width: 190px;
            height: 95px;
            position: fixed;

		}.container {
            width:100px;
            padding:0px;
            }
        .photo {
            margin-top: -50px;
            width:10px;
            height: 50px;
            font-size:80%;
            margin-left: 10px;
            text-align:center;
            horiz-align: left;
            display: inline-flex;
            padding:5px;

        }

        @media screen and (min-width: 160px) {
        .container{width:100px;}
        }
        @media screen and (min-width: 240px) {
        .container{width:150px;}
        }
        @media screen and (min-width: 230px) {
        .container{width:130px;}  .container{height:50px;}

        }body {
          background: url(../static/img/bg2.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }.showScroll {
            margin-top: -215px;
            margin-left: 250px;
            width:180px;
            height: 220px;
            overflow:scroll;
            background-color:transparent;
        }html{
            width: 440px;
            height: 255px;
                                                     }
    </style>
    <!-- Java Script -->
    <script src="../static/angular.js"></script>
    <script src="../static/js/Respond.js"></script>
    <!-- Java Script Respond -->
    {% extends "layout.html" %}
    {% block body %}
    <script type="text/javascript">
            function bloquear(e){return false}
    function desbloquear(){return true}
    document.onselectstart=new Function (&quot;return false&quot;)
    if (window.sidebar){document.onmousedown=bloquear
    document.onclick=desbloquear}
  $(function() {

  //função que envia os dados para o servidor
    var submit_form = function(e) {

    //usa o Jquery para enviar uma Get para o servidor
      $.getJSON($SCRIPT_ROOT + '/grupo/arroz/list', { //endereço da requisição
        a: $('input[name="a"]').val(), //obtem o valor do imput de name "a" e envia como variável a
        b: $('input[name="b"]').val()  //obtem o valor do imput de name "b" e envia como variável b
      }, function(data) { //função executada quando o servidor responde a requisição
        $('#result').text(data.result); //coloca o texto DENTRO do elemento de id="result"
        $('input[name=a]').focus().select(); //coloca o foco no input de name "a"
      });
      return false;
    };

    $('a#calculate').bind('click', submit_form); //associa o clicke do link (tag a), de id "calculate"

    $("curvaInit").click(function(e){
            submit_form(e);
       });

    $('input[name=a]').focus(); //coloca o foco no input de name "a"
  });
    </script>
    <!-- Title -->
    <title>Chip Welcome</title>
</head>
    <body onselectstart='return false' ondragstart='return false'>
        <div class="jumbotron ">

                    <div class="menu">
                     <p>
                    <br>
                        <center><a href="/selectcurvatop?a=0"><button class="btn btn-dark-green"><img src="../static/img/medir.png" width="35" height="35"/></button></a></center>
                        <center><a href="/top">             <button class="btn btn-dark-green active"><img src="../static/img/search.png" width="35" height="35"/></button></a></center>
                        <center><a href="/config">            <button class="btn btn-dark-green"><img src="../static/img/config.png" width="35" height="35"/></button></a></center>
                        <span id="result"></span>

                    </div>

            <center><h2 style="margin-left: -70px" color="#FFFFFF" class="animated fadeIn"><p>{{ girassol }}</p></h2></center>

             <div class="menu2">
                <div style="margin-top: 0px; margin-left: -8px" class="container">
                    <div class="photo">
                        <a href="/grupo/arroz"><img src="../static/img/botao-grao-arroz.png" height="35" width="35"><figcaption>{{ arroz }}</figcaption></a>
                    </div>
                    <div class="photo">
                        <a href="/grupo/feijao"><img  src="../static/img/botao-grao-feijao.png" height="35" width="35"><figcaption>{{ feijao }}</figcaption></a>
                    </div>
                    <div class="photo">
                        <a href="/grupo/milho"><img src="../static/img/botao-grao-milho.png" height="35" width="35"><figcaption>{{ milho }}</figcaption></a>
                    </div>
                    </div>
                 </div>

             <div class="menu2">
                <div style="margin-top: 70px; margin-left: -180px" class="container">
                    <div class="photo">
                        <a href="/grupo/soja"><img src="../static/img/botao-grao-soja.png" height="35" width="35"><figcaption>{{ soja }}</figcaption></a>
                    </div>
                    <div class="photo">
                        <a href="/grupo/outros"><img src="../static/img/botao-grao-outros.png" height="35" width="35"><figcaption>{{ outro }}</figcaption></a>
                    </div>
                    <div class="photo">
                        <a href="/grupo/trigo"><img src="../static/img/botao-grao-trigo.png" height="35" width="35"><figcaption>{{ trigo }}</figcaption></a>
                    </div>
                                        </div>
                 </div>
             <div class="menu2">
                <div style="margin-top: 115px; margin-left: -10px; width: 110px" class="container">
                    <div style=" margin-left: -10px"class="photo">
                        <a href="/grupo/girassol"><img src="../static/img/botao-grao-girasol.png" height="35" width="35"><figcaption>{{ girassol }}</figcaption></a>
                    </div>
                    <div class="photo">
                        <a href="/grupo/custom"><img  src="../static/img/botao-grao-custom.png" height="35" width="35"><figcaption>{{ custom }}</figcaption></a>
                    </div>
                    </div>
                 </div>
            <div style="margin-top: -65px" class="menu2 showScroll">
                <center>
                {% for i in range(0, lencurva) %}
                      <center>
                          <!-- a = 0 e b = {{ i }} -->
                          <a href="/selectcurva?a=6&b={{ i }}" class="list-group-item">
                              <font size="2">{{ nome[i] }}</font><br />

                             <font size="1">{{ temp[i] }}</font><br>
                             <font size="1">{{ umidade[i] }}</font>
                          </a>
                      </center>
                    {% endfor %}
            </div>

<!-- {% endblock %}-->
        </center>
        </div>
        <footer>
        </footer>
    </body>
    <!-- JQuery -->
    <script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
</html>


