<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Custon and Bootstrap Config -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/master.css" type="text/css" >
    <link rel="stylesheet" href="../static/css/mdb.css">
    <style>
        .card {
			width: 450px;
			text-align: center;
			margin-left: 50%;
			margin-right: 50%;
			position: fixed;
        }
        .jumbotron {
            margin-top: 8px;
			width: 440px;
			height: 230px;
			text-align: center;
			margin-left: 20px;
            margin-top: 20px;
			margin-right: auto;
			padding:5px
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		.search {
		      background: url('../static/img/zoom-out.png') left center no-repeat;
              padding-left: 15px;
		}
		.dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}
        .menu{
            float: left;
            width: 40px;
            height: 0px;
		        padding:0px;
            margin-top: -20px;

		}.amostra{
		    margin-top: -350px;
            margin-left: 150px;
            width: 425px;
            padding:0px;
            border:0px;
		}.menu2{
            float: left;
            margin-left: 50px;
            margin-top: 0px;
            width: 150px;
            height: 0px;
		        padding:0px;

		}.list-group {
		    width: 170px;
            height: 80px;
		    padding: 0px;

		}.list-group-item {
		    width: 400px;
            height: 95px;
		    padding: 2px;

		}.outros {
			margin-top: 0px;
            margin-left: 15px;
		    width: 190px;
            height: 95px;
            position: fixed;

		}.container {
            width:250px;
            padding:0px;
            }
        .photo {
            margin-top: -50px;
            width:40px;
            height: 80px;
            font-size:80%;
            margin-left: 25px;
            text-align:center;
            horiz-align: left;
            display: inline-flex;
            padding:5px;

        }

        @media screen and (min-width: 160px) {
        .container{width:250px;}
        }
        @media screen and (min-width: 240px) {
        .container{width:150px;}
        }
        @media screen and (min-width: 230px) {
        .container{width:200px;}
        }body {
          background: url(../static/img/bg2.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }.showScroll {
            width:450px;
            height: 320px;
            margin-left: 140px;
            margin-top: 15px;
            overflow:scroll;
            background-color:transparent;
        }html{
            width: 440px;
            height: 255px;
                                                     }
    </style>
    <!-- Java Script -->
    <script src="../static/angular.js"></script>
    <script src="../static/js/Respond.js"></script>
    <!-- Java Script Respond -->
    {% extends "layout.html" %}
    {% block body %}
    <script type="text/javascript">
            function bloquear(e){return false}
    function desbloquear(){return true}
    document.onselectstart=new Function (&quot;return false&quot;)
    if (window.sidebar){document.onmousedown=bloquear
    document.onclick=desbloquear}
  $(function() {

  //função que envia os dados para o servidor
    var submit_form = function(e) {

    //usa o Jquery para enviar uma Get para o servidor
      $.getJSON($SCRIPT_ROOT + '/grupo/arroz/list', { //endereço da requisição
        a: $('input[name="a"]').val(), //obtem o valor do imput de name "a" e envia como variável a
        b: $('input[name="b"]').val()  //obtem o valor do imput de name "b" e envia como variável b
      }, function(data) { //função executada quando o servidor responde a requisição
        $('#result').text(data.result); //coloca o texto DENTRO do elemento de id="result"
        $('input[name=a]').focus().select(); //coloca o foco no input de name "a"
      });
      return false;
    };

    $('a#calculate').bind('click', submit_form); //associa o clicke do link (tag a), de id "calculate"

    $("curvaInit").click(function(e){
            submit_form(e);
       });

    $('input[name=a]').focus(); //coloca o foco no input de name "a"
  });
    </script>
    <!-- Title -->
    <title>Chip Welcome</title>
</head>
    <body onselectstart='return false' ondragstart='return false'>

        <div class="jumbotron ">

                    <div class="menu">
                     <p>
                    <br>
                        <center><a href="/selectcurvatop?a=0"><button class="btn btn-dark-green active"><img src="../static/img/medir.png" width="35" height="35"/></button></a></center>
                        <center><a href="/top">             <button class="btn btn-dark-green"><img src="../static/img/search.png" width="35" height="35"/></button></a></center>
                        <center><a href="/config">            <button class="btn btn-dark-green"><img src="../static/img/config.png" width="35" height="35"/></button></a></center>
                        <span id="result"></span>

                    </div>



            <div style="margin-top: -20px; margin-left: 120px; width: 150px" class="amostra">
                <center>
                {% for i in range(0, lencurva) %}
                      <center>
                              <h5 style="margin-top: 20px;margin-left: 65px; width: 180px"size="3">{{ nome[i] }}</h5><br>
                            <div style="width: 300px; margin-left: -20px" class="menu2">
                            <center><img style="margin-top:-30px; margin-left: -210px;" src="../static/img/botao-grao-{{tipo[i]}}.png" width="70" height="70"></center>
                            </div>
                          <div style="margin-left: -15px; width: 300px;margin-top: -30px">
                             <h7 style="margin-left: 30px; width: 400px ">Data: {{data[i]}} </h7>
                          <h6 style="margin-left: 25px; margin-top: 5px; width: 200px" size="2">Latitude: {{lat[i]}} Longitude: {{lng[i]}} </h6>
                            </div>
                      </center>
                          <hr style="margin-top: -10px; width: 325px; margin-left: -20px">
                          <font size="3"><p style="margin-left: 100px; margin-top: -15px">Detalhes</p></h3></font>
                        <div style="margin-top: -20px; margin-left: 35px" class="menu2">
                            <font style="margin-left: -155px; margin-top: 10px;" size="2">Umidade: <b>{{ umidade[i] }}</b> %</font><br>
                            <font style="margin-left: -135px; margin-top: 10px;" size="2">Temperatura: <b>{{ temp[i] }}</b> °C</font><br>
                            <font style="margin-left: -130px; margin-top: 10px;" size="2">PH (referência): <b>{{ ph[i] }}</b></font><br>
                            <font style="margin-left: -180px; margin-top: 10px;" size="2">Peso: <b>{{ peso[i] }}</b> g</font><br>
                            <a href="historico?a={{a-1}}"><button style="margin-left: -20px; margin-top: -24px" class="btn btn-dark-green"><img src="../static/img/back.png" width="15" height="15"/></button></a>
                        </div>
                        <div style="margin-top: -20px; margin-left:220px; width: 100px" class="amostra">
                            <font style="margin-left: -80px; margin-top: 10px;" size="2"><b>{{ dial[i] }}</b> :Dial</font><br>
                            <font style="margin-left: -130px; margin-top: 10px;" size="2"><b>{{ dialc[i] }}</b> :Dial Corrigido</font><br>
                            <font style="margin-left: -65px; margin-top: 10px;" size="2"><b>{{ freqc[i] }}</b> :Freq. Cheio</font><br>
                            <font style="margin-left: -60px; margin-top: 10px;" size="2"><b>{{ freqv[i] }}</b> :Freq. Vazio</font><br>
                            {% if a == b %}
                                <a href="#">            <button style="margin-left: -220px; margin-top: -24px" class="btn btn-dark-green"><img src="../static/img/next.png" width="15" height="15"/></button></a>
                            {% else %}
                                <a href="historico?a={{a+1}}">            <button style="margin-left: -220px; margin-top: -24px" class="btn btn-dark-green"><img src="../static/img/next.png" width="15" height="15"/></button></a>
                            {% endif %}
                        </div>


                    {% endfor %}</center>
            </div>
</div>

<!-- {% endblock %}-->
        </center>
        </div>
        <footer>
        </footer>
    </body>
    <!-- JQuery -->
    <script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
</html>


