<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Custon and Bootstrap Config -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/css/master.css" type="text/css" >
    <link rel="stylesheet" href="../static/css/mdb.css">

    <link href="../static/docs/css/jquery-ui.min.css" rel="stylesheet">
    <script src="../static/docs/js/jquery-latest.min.js"></script>
	<script src="../static/docs/js/jquery-ui.min.js"></script>
    <link href="../static/css/keyboard.css" rel="stylesheet">
	<script src="../static/js/jquery.keyboard.js"></script>
	<script src="../static/docs/js/bootstrap.min.js"></script>
	<script src="../static/docs/js/demo.js"></script>
	<script src="../static/docs/js/jquery.tipsy.min.js"></script>
	<script src="../static/docs/js/prettify.js"></script>
    <style>
        .card {
			width: 450px;
			text-align: center;
			margin-left: 50%;
			margin-right: 50%;
			position: fixed;
        }
        .jumbotron {
            margin-top: 8px;
			width: 440px;
			height: 230px;
			text-align: center;
			margin-left: 20px;
            margin-top: 20px;
			margin-right: auto;
			padding:5px
		}
		.table {
			margin-top: 20px;
		}
		.form-control {
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		.search {
		      background: url('../static/img/zoom-out.png') left center no-repeat;
              padding-left: 15px;
		}
		.dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        /* Dropdown button on hover & focus */
        .dropbtn:hover, .dropbtn:focus {
            background-color: #3e8e41;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1}

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}

        .menu{
            float: left;
            width: 70px;
            height: 10px;
		    padding:0px;
            margin-top: 50px;
            margin-left: 0px;


		}.menu2{
            float: right;
            width: 65px;
            height: 10px;
		    padding:0px;
            margin-top: -60px;
            margin-left: 0px;

		}.amostra{
		    margin-top: 35px;
            margin-left:200px;
            padding:0px;
            width: 200px;
            border:0px;
		}.list-group {
		    width: 170px;
            height: 80px;
		    padding: 0px;

		}.list-group-item {
		    width: 190px;
            height: 95px;
		    padding: 2px;

		}.outros {
			margin-top: 0px;
            margin-left: 15px;
		    width: 190px;
            height: 95px;
            position: fixed;

		}img {
            vertical-align: bottom;
        }.container {
            width:650px;
            padding:0px;
            }
        .photo {
        width:80px;
        font-size:110%;
        text-align:center;
        vertical-align:top;
        display:inline-block;

        }

        @media screen and (min-width: 160px) {
        .container{width:160px;}
        }
        @media screen and (min-width: 240px) {
        .container{width:240px;}
        }
        @media screen and (min-width: 640px) {
        .container{width:400px;}
        }body {
          background: url(../static/img/bg2.jpg) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }html{
            width: 440px;
            height: 255px;
                                                     }
    </style>
    <!-- Java Script -->
    <script src="../static/angular.js"></script>
    <script src="../static/js/Respond.js"></script>
    <!-- Java Script Respond -->
    {% extends "layout.html" %}
    {% block body %}
    <script type="text/javascript">
        function bloquear(e){return false}
        function desbloquear(){return true}
        document.onselectstart=new Function (&quot;return false&quot;)
        if (window.sidebar){document.onmousedown=bloquear
        document.onclick=desbloquear}
        $(function() {

      //função que envia os dados para o servidor
        var submit_form = function(e) {

        //usa o Jquery para enviar uma Get para o servidor
          $.getJSON($SCRIPT_ROOT + '/grupo/arroz/list', { //endereço da requisição
            a: $('input[name="a"]').val(), //obtem o valor do imput de name "a" e envia como variável a
            b: $('input[name="b"]').val()  //obtem o valor do imput de name "b" e envia como variável b
          }, function(data) { //função executada quando o servidor responde a requisição
            $('#result').text(data.result); //coloca o texto DENTRO do elemento de id="result"
            $('input[name=a]').focus().select(); //coloca o foco no input de name "a"
          });
          return false;
        };

        $('a#calculate').bind('click', submit_form); //associa o clicke do link (tag a), de id "calculate"

        $("curvaInit").click(function(e){
                submit_form(e);
           });

        $('input[name=a]').focus(); //coloca o foco no input de name "a"
      });
        $('#alpha')
            .keyboard({ layout: 'alpha' })
            .addTyping();
    </script>
    <!-- Title -->
    <title>Chip Welcome</title>
</head>
    <body onselectstart='return false' ondragstart='return false'>

                <div class="jumbotron ">
                    <center><h2 style="margin-left: 20px" color="#FFFFFF" class="animated fadeIn"><p>Login</p></h2></center>
                    <div class="menu">

                      <center><a href="/connection"><img src="../static/img/back-g.png" width="45" height="45"/></a></center>

                    </div>

                <div style="margin-left: 140px; margin-top: -5px" class="amostra">
                      <form action="" method="post">
                        <input id="text" type="text" placeholder="Username" name="username" value="{{request.form.username }}">
                        <input id="alpha" type="password" placeholder="Password" name="password" value="{{ request.form.password }}">

                        <input style="margin-left: -130px" class="btn btn-primary btn-dark-green" type="submit" value="Login">


                      </form>
                        <a href="/register"><button style="margin-left: 115px; margin-top: -62px " class="btn btn-primary btn-dark-green">Register</button></a>
                      {% if error %}
                        <p style="margin-top: -20px" class="card-text error"><strong>Error:</strong> {{ error }}</p>
                      {% endif %}
                    </div>


                    <div class="menu2">

                        <!-- <center><a  href="/selectcurvatop?a=0"><img style="margin-left: 25px" src="../static/img/next-g.png" width="45" height="45"/></a></center>
                        -->
                    </div>

                </div>
        <!-- {% endblock %}-->

        <!--  -->
        <footer>

        </footer>

    <script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
    </body>
</html>
